---
import type { ProjectData } from "src/types";

const {title, description, githubLink, imageSrc, href}  = Astro.props as ProjectData;

const imagePath = `/src/images/static/${imageSrc}`

---

<div class="p-4 text-primary dark:text-soft-white">
  <div class="h-full overflow-hidden border-2 dark:border-gray-400 rounded-lg shadow-md flex flex-col">
    <img alt={title}
      src={imagePath}
      class="object-cover object-center aspect-video"
      >
    <div class="p-6 flex flex-col flex-grow">
      <h2 class="mb-3 text-2xl font-bold ">{title}</h2>
      <p class="mb-5 lg:text-lg lg:leading-relaxed">{description}</p>
      <div class="mt-auto flex items-center justify-center space-x-7">
        {githubLink && (
          <a
            href={githubLink}
            class="dark:hover:text-primary-400"
            aria-label={`Link to ${title}'s github repo'`}
          >
            <div class="flex items-center flex-col space-y-2">
              <p class="">Github Repo</p>
            </div>
          </a>
        )}
        {href && (
          <a href={href} class="" aria-label={`Link to ${title}`}>
            <div class="flex items-center flex-col space-y-2">
              <p class="">Demo Website</p>
            </div>
          </a>
        )}
      </div>
    </div>
  </div>
</div>



